name: CI-Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  nomequalquer:
    name: Passos de Validação
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

     